.auth-form-block {
	h3 {
    margin: 0;
    color: gray;
    margin-bottom: 1rem;
  }
	input {
		font-size: 1rem;
		border: none;
		border-bottom: 1px solid gray;
		padding-bottom: 0.5rem;
		outline: none;
		width: 100%;
		&:focus {
			color: red;
			border-bottom: 1px solid gray;
		}
		& + & {
			margin-top: 1rem;
		}
	}
	.error-message {
		color: red;
		text-align: center;
		font-size: 0.875rem;
		margin-top: 1rem;
	}
	.auth-footer {
		margin-top: 2rem;
		text-align: right;
		a {
			color: gray;
			text-decoration: underline;
			&:hover {
				color: gray;
			}
		}
	}
}